{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<div class="text-center mt-5 pt-5">
			{% if app.user %}
				<div class="mb-3">
					You are logged in as
					{{ app.user.username|default(null) }},
					<a href="{{ path('app_logout') }}">Logout</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
			<div id="firebaseui-auth-container"></div>
		</div>

	</form>
{% endblock %}
